In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import time as t
import datetime as dt
import string as st

In [28]:
dframe = pd.read_csv('grafana_data_export.csv',sep=';')

In [29]:
dframe.tail(10)

,Series,Time,Value
20224,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:31:44.000Z,0.433333
20225,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:32:14.000Z,0.433333
20226,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:32:44.000Z,0.566667
20227,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:33:14.000Z,0.433333
20228,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:33:44.000Z,0.433333
20229,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:34:14.000Z,0.433333
20230,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:34:44.000Z,0.566667
20231,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:35:14.000Z,0.433333
20232,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:35:44.000Z,0.433333
20233,"net.out_packets_sec.value(device=eth0,hostname...",2016-05-19T17:36:14.000Z,0.433333

In [30]:
dframe.columns

Index([u'Series', u'Time', u'Value'], dtype='object')

In [31]:
#DataFrame(dframe,columns=['Time','Value'])

In [32]:
#dframe['Series']

In [33]:
# grabe only the data concerning a specific VM guest
dframe_client1=dframe[dframe['Series']=='net.out_packets_sec.value(device=eth0,hostname=mini-mon,service=monitoring,)']

# get ride of the metric name
dframe=DataFrame(dframe_client1,columns=['Time','Unix_time','Value'])

# reindex from 0 to data size
dframe.index = range(0,dframe.Value.size)

# Use datetime to convert it to a timestamp
dframe.Unix_time = dframe.Time

In [34]:

i=0;


for stamp in dframe.Unix_time:
  dframe.Unix_time[i]=t.mktime(dt.datetime.strptime(repr(stamp)[1:-1], '%Y-%m-%dT%H:%M:%S.%fZ').timetuple())
  i=i+1;

C:\Users\jaafar\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
#repr(dframe.Unix_time[0])[1:-1]
dframe=DataFrame(dframe,columns=['Unix_time','Value'])

In [36]:

dframe.head()

     Unix_time     Value
0  1.46365e+09  8.266667
1  1.46365e+09  7.400000
2  1.46365e+09  8.266667
3  1.46365e+09  6.600000
4  1.46365e+09  7.733333

In [38]:
dframe.to_csv('streamingserverData.csv',sep=';',index=False)