In [116]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [117]:
dframe = pd.read_csv('streamingserverData.csv',sep=';')

In [118]:
dframe.head(10)

    Unix_time     Value
0  1463650587  8.266667
1  1463650602  7.400000
2  1463650617  8.266667
3  1463650632  6.600000
4  1463650647  7.733333
5  1463650663  6.937500
6  1463650678  7.533333
7  1463650693  6.333333
8  1463650708  7.866667
9  1463650723  6.266667

In [119]:
dframe.Value

0        8.266667
1        7.400000
2        8.266667
3        6.600000
4        7.733333
5        6.937500
6        7.533333
7        6.333333
8        7.866667
9        6.266667
10       8.133333
11       6.000000
12       8.933333
13       7.066667
14       9.200000
15       7.533333
16      10.266667
17       6.400000
18       7.866667
19       6.266667
20       8.933333
21       6.533333
22       8.266667
23       7.466667
24       7.866667
25       7.866667
26       9.066667
27       6.400000
28       9.066667
29       7.133333
          ...
1471     8.133333
1472     6.066667
1473     8.866667
1474     6.266667
1475     8.200000
1476     6.466667
1477     9.266667
1478     6.066667
1479     8.666667
1480     7.333333
1481     8.133333
1482     6.133333
1483     8.133333
1484     7.733333
1485     8.533333
1486     8.600000
1487     8.333333
1488     7.400000
1489    11.466667
1490     8.466667
1491     8.933333
1492    15.000000
1493     8.266667
1494     7.600000
1495     8.133333
1496     6.133333
1497     9.400000
1498     6.333333
1499     8.000000
1500     7.533333
Name: Value, dtype: float64

In [120]:
arr = np.asanyarray(dframe.Value)
arr=arr.T

In [121]:
window=5
arrY = arr[window:]
arrY

array([ 6.9375    ,  7.53333333,  6.33333333, ...,  6.33333333,
        8.        ,  7.53333333])

In [122]:
a=arr
window=5;
b = [arr[i:i+window] for i in xrange(len(arr)-2)];

In [123]:
myarray = b
myarray;

In [124]:
#repr(dframe.Unix_time[0])[1:-1]

#Result=myarray.T
Result=myarray
#Result=np.arr(myarray.T)
Result;

In [125]:
dframe=pd.DataFrame(Result)
#for i in range(np.size(Result)):
#    dframe[i] = dframe[i][1:-1]

dframe.columns.data

dframe.head()

          0         1         2         3         4
0  8.266667  7.400000  8.266667  6.600000  7.733333
1  7.400000  8.266667  6.600000  7.733333  6.937500
2  8.266667  6.600000  7.733333  6.937500  7.533333
3  6.600000  7.733333  6.937500  7.533333  6.333333
4  7.733333  6.937500  7.533333  6.333333  7.866667

In [126]:
min(dframe.count())-1

1496

In [127]:
dframe = dframe.head(min(dframe.count())-1);
dframe;

In [128]:
dframeY=pd.DataFrame(arrY)
arrY

array([ 6.9375    ,  7.53333333,  6.33333333, ...,  6.33333333,
        8.        ,  7.53333333])

In [129]:
#dframeY=dframeY.T

In [130]:
## Store matrix X and matrix Y
dframe.to_csv('Martrix_X_streamingserver.csv',sep=';',index=False,header=None)
dframeY.to_csv('Martrix_Y_streamingserver.csv',sep=';',index=False,header=None)

In [131]:
dframeY

              0
0      6.937500
1      7.533333
2      6.333333
3      7.866667
4      6.266667
5      8.133333
6      6.000000
7      8.933333
8      7.066667
9      9.200000
10     7.533333
11    10.266667
12     6.400000
13     7.866667
14     6.266667
15     8.933333
16     6.533333
17     8.266667
18     7.466667
19     7.866667
20     7.866667
21     9.066667
22     6.400000
23     9.066667
24     7.133333
25     9.200000
26     8.266667
27     8.266667
28     8.066667
29     8.866667
...         ...
1466   8.133333
1467   6.066667
1468   8.866667
1469   6.266667
1470   8.200000
1471   6.466667
1472   9.266667
1473   6.066667
1474   8.666667
1475   7.333333
1476   8.133333
1477   6.133333
1478   8.133333
1479   7.733333
1480   8.533333
1481   8.600000
1482   8.333333
1483   7.400000
1484  11.466667
1485   8.466667
1486   8.933333
1487  15.000000
1488   8.266667
1489   7.600000
1490   8.133333
1491   6.133333
1492   9.400000
1493   6.333333
1494   8.000000
1495   7.533333

[1496 rows x 1 columns]