In [135]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [136]:
dframe = pd.read_csv('serverData.csv',sep=';')

In [137]:
dframe.head(10)

    Unix_time     Value
0  1463650587  8.266667
1  1463650602  7.400000
2  1463650617  8.266667
3  1463650632  6.600000
4  1463650647  7.733333
5  1463650663  6.937500
6  1463650678  7.533333
7  1463650693  6.333333
8  1463650708  7.866667
9  1463650723  6.266667

In [151]:
#dframe.Value

In [139]:
arr = np.asanyarray(dframe.Value)

In [140]:
arr

array([ 8.26666667,  7.4       ,  8.26666667, ...,  6.33333333,
        8.        ,  7.53333333])

In [154]:
arrY = [arr[window:]]

In [142]:
a=arr
window=5;
b = [a[i:i+window] for i in xrange(len(a)-2)];

In [143]:
myarray = np.asarray(b)

In [144]:
Result=myarray.T

In [145]:
dframe=pd.DataFrame(Result)

In [146]:
dframe.to_csv('MartrixX.csv',sep=';',index=False)

In [147]:
dframe.size

1499

In [148]:
dframe.tail()

                                                      0
1494  [7.6, 8.13333333333, 6.13333333333, 9.4, 6.333...
1495  [8.13333333333, 6.13333333333, 9.4, 6.33333333...
1496  [6.13333333333, 9.4, 6.33333333333, 8.0, 7.533...
1497           [9.4, 6.33333333333, 8.0, 7.53333333333]
1498                [6.33333333333, 8.0, 7.53333333333]

In [155]:
dframeY=pd.DataFrame(arrY)

In [156]:
dframeY=dframeY.T

In [157]:
dframeY.to_csv('MartrixY.csv',sep=';',index=False)