In [4]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [105]:
dframe = pd.read_csv('serverData.csv',sep=';')

In [106]:
dframe.head(10)

    Unix_time  Value
0  1463650593      0
1  1463650623      0
2  1463650653      0
3  1463650683      0
4  1463650713      0
5  1463650743      0
6  1463650773      0
7  1463650803      0
8  1463650833      0
9  1463650863      0

In [109]:
dframe.Value

TypeError: 'Series' object is not callable

In [110]:
arr = np.asanyarray(dframe.Value)

In [111]:
arr

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.])

In [112]:
a=arr
b = [a[i:i+5] for i in xrange(len(a)-2)];

In [113]:
myarray = np.asarray(b)

In [114]:
Result=myarray.T

In [115]:
dframe=pd.DataFrame(Result)

In [116]:
dframe.to_csv('MartrixX.csv',sep=';',index=False)

In [117]:
dframe

                             0
0    [0.0, 0.0, 0.0, 0.0, 0.0]
1    [0.0, 0.0, 0.0, 0.0, 0.0]
2    [0.0, 0.0, 0.0, 0.0, 0.0]
3    [0.0, 0.0, 0.0, 0.0, 0.0]
4    [0.0, 0.0, 0.0, 0.0, 0.0]
5    [0.0, 0.0, 0.0, 0.0, 0.0]
6    [0.0, 0.0, 0.0, 0.0, 0.0]
7    [0.0, 0.0, 0.0, 0.0, 0.0]
8    [0.0, 0.0, 0.0, 0.0, 0.0]
9    [0.0, 0.0, 0.0, 0.0, 0.0]
10   [0.0, 0.0, 0.0, 0.0, 0.0]
11   [0.0, 0.0, 0.0, 0.0, 0.0]
12   [0.0, 0.0, 0.0, 0.0, 0.0]
13   [0.0, 0.0, 0.0, 0.0, 0.0]
14   [0.0, 0.0, 0.0, 0.0, 0.0]
15   [0.0, 0.0, 0.0, 0.0, 0.0]
16   [0.0, 0.0, 0.0, 0.0, 0.0]
17   [0.0, 0.0, 0.0, 0.0, 0.0]
18   [0.0, 0.0, 0.0, 0.0, 0.0]
19   [0.0, 0.0, 0.0, 0.0, 0.0]
20   [0.0, 0.0, 0.0, 0.0, 0.0]
21   [0.0, 0.0, 0.0, 0.0, 0.0]
22   [0.0, 0.0, 0.0, 0.0, 0.0]
23   [0.0, 0.0, 0.0, 0.0, 0.0]
24   [0.0, 0.0, 0.0, 0.0, 0.0]
25   [0.0, 0.0, 0.0, 0.0, 0.0]
26   [0.0, 0.0, 0.0, 0.0, 0.0]
27   [0.0, 0.0, 0.0, 0.0, 0.0]
28   [0.0, 0.0, 0.0, 0.0, 0.0]
29   [0.0, 0.0, 0.0, 0.0, 0.0]
..                         ...
687  [0.0, 0.0, 0.0, 0.0, 0.0]
688  [0.0, 0.0, 0.0, 0.0, 0.0]
689  [0.0, 0.0, 0.0, 0.0, 0.0]
690  [0.0, 0.0, 0.0, 0.0, 0.0]
691  [0.0, 0.0, 0.0, 0.0, 0.0]
692  [0.0, 0.0, 0.0, 0.0, 0.0]
693  [0.0, 0.0, 0.0, 0.0, 0.0]
694  [0.0, 0.0, 0.0, 0.0, 0.0]
695  [0.0, 0.0, 0.0, 0.0, 0.0]
696  [0.0, 0.0, 0.0, 0.0, 0.0]
697  [0.0, 0.0, 0.0, 0.0, 0.0]
698  [0.0, 0.0, 0.0, 0.0, 0.0]
699  [0.0, 0.0, 0.0, 0.0, 0.0]
700  [0.0, 0.0, 0.0, 0.0, 0.0]
701  [0.0, 0.0, 0.0, 0.0, 0.0]
702  [0.0, 0.0, 0.0, 0.0, 0.0]
703  [0.0, 0.0, 0.0, 0.0, 0.0]
704  [0.0, 0.0, 0.0, 0.0, 0.0]
705  [0.0, 0.0, 0.0, 0.0, 0.0]
706  [0.0, 0.0, 0.0, 0.0, 0.0]
707  [0.0, 0.0, 0.0, 0.0, 0.0]
708  [0.0, 0.0, 0.0, 0.0, 0.0]
709  [0.0, 0.0, 0.0, 0.0, 0.0]
710  [0.0, 0.0, 0.0, 0.0, 0.0]
711  [0.0, 0.0, 0.0, 0.0, 0.0]
712  [0.0, 0.0, 0.0, 0.0, 0.0]
713  [0.0, 0.0, 0.0, 0.0, 0.0]
714  [0.0, 0.0, 0.0, 0.0, 0.0]
715       [0.0, 0.0, 0.0, 0.0]
716            [0.0, 0.0, 0.0]

[717 rows x 1 columns]